
.adminbar {
    background: rgb(223, 219, 219);
    color: black;
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }

  .adminbar-li {
    margin-bottom: 10px;
  }
  
  .adminbar-li a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
  }
  
  .adminbar-li a:hover {
    background-color:rgb(167, 171, 173);
    border-radius: 5px;
  }

  